/****** hoja de estilo del ejercicio index2 de cancion del pirata*****/

@font-face {
    font-family: pirata;
    src: url("../fonts/white_storm/White\ Storm.otf");
}

body{
    font-family: pirata;
    background-color: black;
}
#container {
    background-image: url(../images/fondopirata.jpg);
    background-size:cover;
    background-position: 60%;
    font-size:2em;
    width: 90%;
    margin: auto;
    padding: 30px 0;
}
#poema {
    background-color: rgb(247, 197, 123);
    width: 350px;
    padding: 20px;
    margin-left: 20px;
}
